/*Estilização da página de Login e de Cadastro*/

/* Body ocupando toda a página e deixando tudo ao centro */
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

/* Form deixando tudo ao centro, com altura e largura personalizada e borda preta */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    width: 400px;
    height: 400px;
    background-color: #ffffff80;
}

/* Input com largura e altura personalizada, fonte especificada e margem */
input{
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
}

/* Div's das informações*/
.nome-container,
.email-container,
.senha-container,
.confirSenha-container{
    width: 250px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

/* Div's das informações e seus inputs*/
.nome-container input,
.email-container input,
.senha-container input,
.confirSenha-container input{
    margin: 0px;
}

/* Botão com margem e borda */
button{
    margin: 5px;
    border-radius: 5px;
}

/* Título "Cadastro" com margem */
h1{
    margin: 5px;
}

/* Div da correção de informação */
.enviado{
    border: 2px solid rgb(72, 174, 72);
    background-color: rgb(194, 247, 194);
    color: rgb(51, 51, 51);
    width: 300px;
    padding: 12px;
    border-radius: 5px;
    margin: 5px;
    display: none;
}

p{
    margin: 5px;
}

a{
    margin: 0px;
    transition: background-color 0.5s ease, width 0.5s ease;
    transition-delay: 0.2s;
}